<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FireBirdConnectionString"
		 connectionString="Server=Localhost;User=SYSDBA;Password=masterkey;Database=C:\Users\Alexandre - Estagio\Documents\Alexandre-Rodrigues-EM\estudoC#\EM\EM.db\EM2.5.fdb" />
	</connectionStrings>
</configuration>